.wrapper {
  height: 100vh;
}

.actions {
  padding: 30px;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;


  button {
    margin-right: 30px;
  }
}

.video-gallery-wrapper {
  height: calc((100% - 150px))
}
